@import './vars.css';
@import './prose.css';

html.light .astro-code {
  background-color: rgb(248, 248, 248) !important;
  /* filter: invert(98%) hue-rotate(180deg); */
}
html.dark .astro-code {
  background-color: rgb(225, 225, 225) !important;
  filter: invert(98%) hue-rotate(180deg);
}

tml {
  --at-apply: bg-l-bg overflow-scroll;
}

html.dark {
  --at-apply: bg-d-bg;
  color-scheme: dark;
}

* {
  -webkit-tap-highlight-color: transparent;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-scrollbar-bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-scrollbar-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
/** EndSection */

/** Section: Plugin - NProgress */
#nprogress {
  --at-apply: pointer-events-none;
}

#nprogress .bar {
  --at-apply: bg-brand h-2px op-75 fixed top-0 left-0 w-full z-1001;
}
/** EndSection: */

/** Section: Plugin - Medium Zoom */
.medium-zoom-overlay {
  --at-apply: "z-100 bg-c-bg! bg-op-80! dark:bg-op-80!";
  -webkit-backdrop-filter: saturate(50%) blur(4px);
  backdrop-filter: saturate(50%) blur(4px);
}
.medium-zoom-overlay ~ img {
  --at-apply: z-101;
}
/** EndSection: */

/** Section: enter effect */
@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px)
  }

  to {
    opacity: 1;
    transform: none
  }
}

[data-animate] {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > * {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }
}
/** EndSection: */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}
