---
import Layout from '@layouts/layout.astro'
import Default from '@layouts/default.astro'
import * as Home from '../content/page/home.md'
---

<Layout>
  <Default>
    <div class="prose m-auto slide-enter">
      <h1>Riri</h1>
      <article slide-enter animate-delay-200>
        <Home.Content />
      </article>
    </div>
  </Default>
</Layout>
