---
import Layout from '@layouts/layout.astro'
import { title } from '@/meta'
import Main from '@layouts/Main.astro'
import projects from '@content/page/_projects'
import ListProjects from '@components/ListProjects.astro';
---

<Layout title={`projects | ${title}`}>
  <Main pageTitle='Projects' pageDesc={projects.desc}>
    <ListProjects projects={projects.projects} />
  </Main>
</Layout>
