---
import Layout from '@layouts/layout.astro'
import Main from '@layouts/Main.astro'
import projects from '@content/page/_projects'
import ListProjects from '@components/ListProjects.astro'
import LinkButton from '@components/LinkButton.astro'
import { title } from '@/meta'
---

  <Layout title={`projects | ${title}`}>
    <Main pageTitle="Projects" pageDesc={projects.desc}>
      <ListProjects projects={projects.projects} />
      <div class="prose m-auto my-8 slide-enter animate-delay-400!">
        <br />
        <span font-mono op-50>{'> '}</span>
        <LinkButton
          href="/"
          className="op-50 font-mono hover:op-75"
        >
          cd ..
        </LinkButton>
      </div>
    </Main>
  </Layout>
