---
import Default from '@layouts/default.astro'

export interface Props {
  pageTitle: string
  pageDesc?: string
}

const { pageTitle, pageDesc } = Astro.props
---

<Default>
  <div class='prose m-auto'>
    <h1>{pageTitle}</h1>
    <!-- <p>{pageDesc}</p> -->
    <slot />
  </div>
</Default>
